/* Fix Clairo media-dialog */
form.editor-media-dialog details.image-data__crop-wrapper ul.vertical-tabs__menu {
  float: none;
  width: auto;
}

form.editor-media-dialog details.image-data__crop-wrapper div.vertical-tabs__items {
  margin-left: 0;
}
